/cad/design
/videos
/etc
_legacy
*.3mf
assets/videos/_to_process
assets/images/real/making/_etc
assets/videos/real/to_process
assets/videos/sim/to_process

# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
vendor/